name: Ledger Nano App Build

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          sudo apt update
          sudo apt install -y \
            clang \
            gcc-arm-none-eabi \
            libnewlib-arm-none-eabi \
            cmake \
            make \
            git \
            python3 \
            python3-pip

      - name: Clone Ledger Nano SDK
        run: |
          git clone https://github.com/LedgerHQ/nanos-secure-sdk.git
          echo "SDK_PATH=$(pwd)/nanos-secure-sdk" >> $GITHUB_ENV

     - name: Build Honey Ledger App
  run: |
    export BOLOS_SDK=$SDK_PATH
    export TARGET=nanos
    make

