name: Honey Ledger App Build

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Build Honey Ledger App (Nano S Plus)
        uses: docker://ghcr.io/ledgerhq/ledger-app-builder:latest
        with:
          args: |
            make
