name: Honey Ledger App Build

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Clone Ledger SDK
        run: |
          git clone https://github.com/LedgerHQ/ledger-secure-sdk.git sdk

      - name: Build Honey Ledger App (Nano S Plus)
        run: |
          export BOLOS_SDK=$PWD/sdk
          make clean
          make TARGET=nanos2
