name: Ledger Nano S Build

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    container:
      image: ghcr.io/ledgerhq/ledger-app-builder:latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Build Nano S app
        run: |
          make clean
          make
